<div class="container">
  <h1 class="title">Помощь</h1>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/1ozGKlOzEVc" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/1ozGKlOzEVc" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/1ozGKlOzEVc" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/1ozGKlOzEVc" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/1ozGKlOzEVc" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/1ozGKlOzEVc" allowfullscreen></iframe>
  </div>
</div>
