@font-face {
  font-family: OpenSans;
  src: url(assets/fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(assets/fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: url(assets/fonts/open-sans/OpenSans-Light.ttf);
}
