$background-blue: #2a6aa3;
$background-light-grey: #f5f5f5;
$background-light-blue: #1c9490;
$background-table-date-row: #1c949042;
$background-table-header: #1c949087;
$background-conversation-hover: #1b949040;
$border-radius: 5px;

$background: linear-gradient(180deg,#2a6aa3,#1c9490 49.65%,#2a6aa3);

$sidenav-background: linear-gradient(180deg,#2a6aa3,#1c9490 49.65%,#2a6aa3);

$disable-btn: #a5a2a1;
$header-color: #1b9490;
$border-color: #1b9490;
$table-header-color: rgba(0, 0, 0, 0.54);
$color-opacity: #0096888c;
$calendar-event-date: rgba(26, 105, 101, 0.53);
$font-hover: #1c9490;
$practitioner-location: rgba(0, 0, 0, 0.54);
